{% extends 'base.htm' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>


<body>
    {% block content %}
    <div class="card">
        <div class="agent-new">
            <div class="card-header">
                <h4>Discount Editing</h4>
                <div class="sub-title"></div>

            </div>
            <div class="card-block">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="id_name" class="block">Discount Name</label>
                                        </div>
                                        <div class="col-sm-12">
                                            <input id="id_name" name="name" type="text" class=" form-control">
                                        </div>
                                    </div>
                            </div>
                            <div class="sub-title"></div>

                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                            <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="id_valid_from">Valid from:</label>
                        <input type="date" class="form-control datepicker" id="id_valid_from" name="valid_from" data-date-format="dd/mm/yyyy">
                    </div>
                    <div class="form-group col-md-4"></div>
                    <div class="form-group col-md-3">
                        <label for="id_valid_to">Valid to:</label>
                        <input type="date" class="form-control datepicker" id="id_valid_to" name="valid_to" data-date-format="dd/mm/yyyy">
                    </div>
                </div>
                            <div class="sub-title"></div>

                        </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-4">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="id_discount_percentage" class="block">Discount Percentage</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="number" id="id_discount_percentage" class="form-control" name="discount_percentage" step="0.01" min="0" max="100">
                                        </div>
                                    </div>
                            </div>
                            <div class="sub-title"></div>

                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <style>
    /* Apply a border to the checkbox container and set equal width for checkboxes */
    .checkbox-color {
      border: 2px solid #ededed;
      display: inline-block; /* Ensures that the container does not stretch to full width */
      padding: 1px; /* Optional padding to create space around the checkboxes */
      width: 100%;
    }

    /* Style the checkboxes inside the container */
    .checkbox-color input[type="checkbox"] {
      width: 20px; /* Set the width for checkboxes (adjust as needed) */
      height: 20px; /* Set the height for checkboxes (adjust as needed) */
      margin-right: 5px; /* Optional spacing between checkboxes */
      box-sizing: border-box; /* Includes the border width in the specified width */
    }


                                </style>
                                <label class="block">For Cars</label>
                <!-- Iterate over cars and generate checkboxes -->
        {% for car in cars %}
            <div class="form-row">
                <div class="form-group col-md-2">
                    <div class="checkbox-color checkbox-primary car-checkbox">
                        <input id="checkbox{{ forloop.counter }}" type="checkbox" name="cars" value="{{ car.id }}" {% if car.selected %}checked{% endif %}>
                        <label for="checkbox{{ forloop.counter }}">
                            {{ car.brand }} {{ car.model }}
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
                        </div>
                            <div class="sub-title"></div>

                        </div>

                    </div>
                    <div class="row">
                            <button style="" type="submit" class="btn btn-primary ml-4">Save</button>
                        </div>
                </form>
        </div>
    </div>
    </div>
    {% endblock %}
</body>
</html>




