{% extends 'base.htm' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>


<body>
    {% block content %}
    <div class="card">
        <div class="cars-make">
            <div class="card-header">
                <h4>Settings</h4>
                <div class="sub-title">Company Car</div>
<!-- create_company.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    {{ working_hours_formset.as_p }}
    {{ service_hours_formset.as_table }}

    <input type="submit" value="Save">
</form>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="post">
        {% csrf_token %}
        <div class="form-row">
        <div class="form-group col-lg-3">
        <label for="brand">Name of company</label>
        <input type="text" class="form-control" id="brand" name="brand" placeholder="">
        </div>
        <div class="form-group col-lg-3">
        <label for="model">Language</label>
        <input type="text" class="form-control" id="model" name="model">
        </div>
        <div class="form-group col-lg-3">
        <label for="license_plate_no">Legal name of business</label>
        <input type="text" class="form-control" id="license_plate_no" name="license_plate_no">
        </div>
        <div class="form-group col-lg-3">
        <img alt="Logo" class="company_logo" src="https://partner.localrent.com/assets/widget/default-car.png" style="
            position: absolute;
            top: -41px;
        ">
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-lg-3">
        <label for="brand">Phone</label>
        <input type="text" class="form-control" id="brand" name="brand" placeholder="">
        </div>
        <div class="form-group col-lg-3">
        <label for="model">Second phone</label>
        <input type="text" class="form-control" id="model" name="model">
        </div>
        <div class="form-group col-lg-3">
        <label for="license_plate_no">Country</label>
        <input type="text" class="form-control" id="license_plate_no" name="license_plate_no">
        </div>
        <div class="form-group col-lg-3">
        <label for="year_of_manufacture">Сentral office location</label>
        <input type="file" class="form-control" id="year_of_manufacture" name="year_of_manufacture">
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-lg-3">
        <label for="brand">Email</label>
        <input type="text" class="form-control" id="brand" name="brand" placeholder="">
        </div>
        <div class="form-group col-lg-3">
        <label for="model">Web-site</label>
        <input type="text" class="form-control" id="model" name="model">
        </div>
        <div class="form-group col-lg-3">
        <label for="license_plate_no">Central office address</label>
        <input type="text" class="form-control" id="license_plate_no" name="license_plate_no">
        </div>
        </div>
        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="cars-insurance">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Working days </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Public holidays</h4>
                        <p>On these days, it is not possible to rent or return cars, even at extra cost. For example, New Year, major religious or national holidays, etc.</p>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-row">
        <div class="form-group col-md-5">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox8" type="checkbox" checked="">
                <label for="checkbox8">
                    Monday
                </label>
            </div>
        </div>
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="" name="brand" placeholder="">
        </div>
        </div>
                        <div class="form-row">
        <div class="form-group col-md-5">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox8" type="checkbox" checked="">
                <label for="checkbox8">
                    Deposit
                </label>
            </div>
        </div>
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="" name="brand" placeholder="">
        </div>
        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="span6">
                          <fieldset>
                            <div class="row-fluid">
                              <div class="holiday_weekends" id="holidayContainer">
                                <!-- Holiday instances will be added here -->
                              </div>
                              <a class="button middle add_season" onclick="addHoliday()" style="float: left; margin: 18px 50px 0px 0px; visibility: visible;" title="Add">Add</a>
                            </div>
                          </fieldset>
                        </div>
<style>
  .span12 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
  }

  .field {
    margin-right: 10px;
  }

  .remove-holiday {
    color: red;
    cursor: pointer;
  }
</style>
<script>
  let holidayIndex = 0;

  function addHoliday() {
    holidayIndex++;

    const holidayContainer = document.getElementById("holidayContainer");

    const holidayTemplate = `
      <div class="span12">
        <div class="span1 field start-day" style="width: 8%;">
          <select name="day_${holidayIndex}">
            <!-- Days will be dynamically generated using JavaScript -->
          </select>
        </div>
        <div class="span2 field select-a-month">
          <select name="month_${holidayIndex}" onchange="updateDaysAndYears(this)">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="span3 field select-a-year">
          <select name="year_${holidayIndex}">
            <!-- Years will be dynamically generated using JavaScript -->
          </select>
        </div>
        <div class="span1 field">
          <a class="fa fa-trash remove-holiday" onclick="removeHoliday(this)" style="padding: 10px 0px; font-size: 24px;"></a>
        </div>
        <div class="span3 field">
          <input class="weekend_date" name="weekend_date_${holidayIndex}" type="hidden">
          <input class="use_annually" name="use_annually_${holidayIndex}" type="hidden" value="true">
        </div>
      </div>
    `;

    const holidayElement = document.createElement("fieldset");
    holidayElement.classList.add("nested_fields", "nested_company_holiday_weekends");
    holidayElement.innerHTML = holidayTemplate;

    holidayContainer.appendChild(holidayElement);

    // Initialize days and years for the initial month (January)
    updateDaysAndYears(holidayElement.querySelector(`[name=month_${holidayIndex}]`));

    // Ensure days are initially populated
    updateDays(holidayElement.querySelector(`[name=month_${holidayIndex}]`));
  }

  function removeHoliday(button) {
    const holidayElement = button.closest(".span12");
    holidayElement.remove();
  }

  function updateDaysAndYears(selectElement) {
    const daysSelect = selectElement.parentElement.parentElement.querySelector(`[name^=day_]`);
    const yearSelect = selectElement.parentElement.parentElement.querySelector(`[name^=year_]`);
    const month = parseInt(selectElement.value, 10);
    const daysInMonth = new Date(parseInt(yearSelect.value), month, 0).getDate(); // Getting the last day of the selected month
    const currentYear = new Date().getFullYear();

    // Clear previous options
    daysSelect.innerHTML = "";
    yearSelect.innerHTML = "";

    // Populate days based on the number of days in the selected month
    for (let day = 1; day <= daysInMonth; day++) {
      const option = document.createElement("option");
      option.value = day;
      option.textContent = day;
      daysSelect.appendChild(option);
    }

    // Populate years for the current year and the next few years
    for (let year = currentYear; year <= currentYear + 5; year++) {
      const option = document.createElement("option");
      option.value = year;
      option.textContent = year;
      yearSelect.appendChild(option);
    }
  }

function updateDays(monthSelect) {
  const daysSelect = monthSelect.parentElement.parentElement.querySelector(`[name^=day_]`);
  const yearSelect = monthSelect.parentElement.parentElement.querySelector(`[name^=year_]`);
  const month = parseInt(monthSelect.value, 10);

  const daysInMonth = new Date(parseInt(yearSelect.value), month, 0).getDate();
  const selectedDay = parseInt(daysSelect.value, 10);

  // Clear previous options
  daysSelect.innerHTML = "";

  // Populate days based on the number of days in the selected month
  for (let day = 1; day <= daysInMonth; day++) {
    const option = document.createElement("option");
    option.value = day;
    option.textContent = day;
    daysSelect.appendChild(option);
  }

  // Set the selected day to the first day of the month if it exceeds the number of days in the new month
  if (selectedDay > daysInMonth) {
    daysSelect.value = 1;
  }
}
</script>


                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="cars-engine-chasis">
<div class="card-header">
    <div class="row">
        <div class="col-md-6">
            <h4>Payment for rent</h4>
        </div>
        <div class="col-md-6 ">
            <h4>Withholding of deposit</h4>

        </div>
    </div>
</div>

            <div class="card-block">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="driving-license" class="col-md-4 col-form-label">Engine type</label>
                <div class="col-md-4">
                    <select class="form-control" id="driving-license" name="driving-license">
                        <option value="none">Select a category</option>
                        <option value="A">Category A</option>
                        <option value="B">Category B</option>
                        <option value="C">Category C</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="seats" class="col-md-4 col-form-label">Capacity </label>
                <div class="col-md-4">
                    <select class="form-control" id="seats" name="seats">
                        <option value="none">Select the number of seats</option>
                        <option value="2">2 seats</option>
                        <option value="4">4 seats</option>
                        <option value="5">5 seats</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-4 col-form-label">Fuel </label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-4 col-form-label">Tank </label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-4 col-form-label">Fuel consumption (l/100 km)</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Transmission</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Drive</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">ABS</label>
                <div class="col-md-4">
                    <div class="checkbox-grey checkbox-nxt">
                <input id="checkbox0" type="checkbox" checked="">
                <label for="checkbox0">
                </label>
            </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">EBD</label>
                <div class="col-md-4">
                    <div class="checkbox-grey checkbox-nxt">
                <input id="checkbox10" type="checkbox" checked="">
                <label for="checkbox10">
                </label>
            </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">ESP</label>
                <div class="col-md-4">
                    <style>
                        .checkbox-grey {
    border: 2px solid #ededed;
    display: inline-block;
    padding: 1px;
    /* width: 100%; */
}
.checkbox-grey label {
    display: inline-block;
    position: relative;
    /* padding-left: 20px; */
    /* line-height: 20px; */
}
.checkbox-nxt input[type="checkbox"]:checked+label::before {
    background-color: #01a9ac;
}
.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #fff;
}
.checkbox-grey input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox-grey label::after {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -1px;
    top: -12px;
    margin-left: -15px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 23px;
    color: #fff;
}

.checkbox-grey label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -14px;
    width: 37px;
    height: 37px;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #f5f5f5;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}                 </style>
                    <div class="checkbox-grey checkbox-nxt">
                <input id="checkbox20" type="checkbox" checked="">
                <label for="checkbox20">
                </label>
            </div>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>

        <div class="cars-other">
            <div class="card-header">
                <h4>Other</h4>
                <div class="sub-title"></div>
            </div>
            <div class="card-block">
        <form class="form-horizontal">
            <div class="form-group row">
                <label for="driving-license" class="col-md-3 col-form-label">Required category of driving license</label>
                <div class="col-md-4">
                    <select class="form-control" id="driving-license" name="driving-license">
                        <option value="none">Select a category</option>
                        <option value="A">Category A</option>
                        <option value="B">Category B</option>
                        <option value="C">Category C</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="seats" class="col-md-3 col-form-label">Seats</label>
                <div class="col-md-4">
                    <select class="form-control" id="seats" name="seats">
                        <option value="none">Select the number of seats</option>
                        <option value="2">2 seats</option>
                        <option value="4">4 seats</option>
                        <option value="5">5 seats</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Number of doors</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Air Conditioning</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Interior</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Roof</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Powered Windows</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Airbags</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Side Wheel</label>
                <div class="col-md-4">
                    <select class="form-control" id="doors" name="doors">
                        <option value="none"></option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Cruise control</label>
                <div class="col-md-4">
                    <div class="checkbox-grey checkbox-nxt">
                <input id="checkbox0" type="checkbox" checked="">
                <label for="checkbox0">
                </label>
            </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Rear view camera</label>
                <div class="col-md-4">
                    <div class="checkbox-grey checkbox-nxt">
                <input id="checkbox10" type="checkbox" checked="">
                <label for="checkbox10">
                </label>
            </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="doors" class="col-md-3 col-form-label">Parking assist</label>
                <div class="col-md-4">
                    <style>
                        .checkbox-grey {
    border: 2px solid #ededed;
    display: inline-block;
    padding: 1px;
    /* width: 100%; */
}
.checkbox-grey label {
    display: inline-block;
    position: relative;
    /* padding-left: 20px; */
    /* line-height: 20px; */
}
.checkbox-nxt input[type="checkbox"]:checked+label::before {
    background-color: #01a9ac;
}
.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #fff;
}
.checkbox-grey input[type="checkbox"]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox-grey label::after {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -1px;
    top: -12px;
    margin-left: -15px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 23px;
    color: #fff;
}

.checkbox-grey label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -14px;
    width: 37px;
    height: 37px;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #f5f5f5;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}                 </style>
                    <div class="checkbox-grey checkbox-nxt">
                <input id="checkbox20" type="checkbox" checked="">
                <label for="checkbox20">
                </label>
            </div>
                </div>
            </div>
            <!-- Repeat the pattern for the other fields -->
        </form>
            </div>
        </div>

        <div class="cars-music">
            <div class="card-header">
                <h4>Music</h4>
                <div class="sub-title"></div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12">
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="cars-gallery">

            <div class="card-header">
        <h4>Cars Gallery</h4>
        </div>
            <div class="card-block">
        <div class="sub-title">Upload your car pictures here.</div>
        <input type="file" name="files[]" id="filer_input1" multiple="multiple">
        </div>
        </div>

    </div>
    {% endblock %}
</body>
</html>