{% extends 'base.htm' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>


<body>
    {% block content %}
    <div class="card">
                                <form method="post">
        {% csrf_token %}
        <div class="cars-make">
            <div class="card-header">
                <h4>Settings</h4>
                <div class="sub-title">Company Car</div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12">
        <div class="form-row">
        <div class="form-group col-lg-3">
        <label for="name_of_company">Name of company</label>
        <input type="text" class="form-control" id="name_of_company" name="name_of_company" value="{{company_data.name_of_company}}">
        </div>
        <div class="form-group col-lg-3">
        <label for="language">Language</label>
        <input type="text" class="form-control" id="language" value="{{company_data.language}}" name="language">
        </div>
        <div class="form-group col-lg-3">
        <label for="legal_name">Legal name of business</label>
        <input type="text" class="form-control" id="legal_name" value="{{company_data.legal_name_of_business}}" name="legal_name">
        </div>
        <div class="form-group col-lg-3">
        <img alt="Logo" class="company_logo" src="https://partner.localrent.com/assets/widget/default-car.png" style="
            position: absolute;
            top: -41px;
        ">
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-lg-3">
        <label for="phone_number">Phone</label>
        <input type="text" class="form-control" id="phone_number" value="{{company_data.legal_name_of_business}}" name="phone_number" placeholder="">
        </div>
        <div class="form-group col-lg-3">
        <label for="second_phone">Second phone</label>
        <input type="text" class="form-control" id="second_phone" value="{{company_data.legal_name_of_business}}" name="second_phone">
        </div>
        <div class="form-group col-lg-3">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country" value="{{company_data.legal_name_of_business}}" name="country">
        </div>
        <div class="form-group col-lg-3">
        <label for="central_office_location">Сentral office location</label>
        <input type="file" class="form-control" id="central_office_location" name="central_office_location">
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-lg-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" value="{{company_data.legal_name_of_business}}" name="email" placeholder="">
        </div>
        <div class="form-group col-lg-3">
        <label for="website">Web-site</label>
        <input type="text" class="form-control" id="website" value="{{company_data.legal_name_of_business}}" name="website">
        </div>
        <div class="form-group col-lg-3">
        <label for="central_office_address">Central office address</label>
        <input type="text" class="form-control" id="central_office_address" value="{{company_data.legal_name_of_business}}" name="central_office_address">
        </div>
        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="cars-insurance">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Working days </h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Public holidays</h4>
                        <p>On these days, it is not possible to rent or return cars, even at extra cost. For example, New Year, major religious or national holidays, etc.</p>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-row">
        <div class="form-group col-md-5">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox2" type="checkbox" checked="">
                <label for="checkbox2">
                    Monday
                </label>
            </div>
        </div>
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="" name="brand" placeholder="">
        </div>
        </div>
                        <div class="form-row">
        <div class="form-group col-md-5">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox8" type="checkbox" checked="">
                <label for="checkbox8">
                    Deposit
                </label>
            </div>
        </div>
        <div class="form-group col-md-5">
            <input type="text" class="form-control" id="" name="brand" placeholder="">
        </div>
        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="span6">
                          <fieldset>
                            <div class="row-fluid">
                              <div class="holiday_weekends" id="holidayContainer">
                                <!-- Holiday instances will be added here -->
                              </div>
                              <a class="button middle add_season" onclick="addHoliday()" style="float: left; margin: 18px 50px 0px 0px; visibility: visible;" title="Add">Add</a>
                            </div>
                          </fieldset>
                        </div>
<style>
  .span12 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
  }

  .field {
    margin-right: 10px;
  }

  .remove-holiday {
    color: red;
    cursor: pointer;
  }
</style>
<script>
  let holidayIndex = 0;

  function addHoliday() {
    holidayIndex++;

    const holidayContainer = document.getElementById("holidayContainer");

    const holidayTemplate = `
      <div class="span12">
        <div class="span1 field start-day" style="width: 8%;">
          <select name="day_${holidayIndex}">
            <!-- Days will be dynamically generated using JavaScript -->
          </select>
        </div>
        <div class="span2 field select-a-month">
          <select name="month_${holidayIndex}" onchange="updateDaysAndYears(this)">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="span3 field select-a-year">
          <select name="year_${holidayIndex}">
            <!-- Years will be dynamically generated using JavaScript -->
          </select>
        </div>
        <div class="span1 field">
          <a class="fa fa-trash remove-holiday" onclick="removeHoliday(this)" style="padding: 10px 0px; font-size: 24px;"></a>
        </div>
        <div class="span3 field">
          <input class="weekend_date" name="weekend_date_${holidayIndex}" type="hidden">
          <input class="use_annually" name="use_annually_${holidayIndex}" type="hidden" value="true">
        </div>
      </div>
    `;

    const holidayElement = document.createElement("fieldset");
    holidayElement.classList.add("nested_fields", "nested_company_holiday_weekends");
    holidayElement.innerHTML = holidayTemplate;

    holidayContainer.appendChild(holidayElement);

    // Initialize days and years for the initial month (January)
    updateDaysAndYears(holidayElement.querySelector(`[name=month_${holidayIndex}]`));

    // Ensure days are initially populated
    updateDays(holidayElement.querySelector(`[name=month_${holidayIndex}]`));
  }

  function removeHoliday(button) {
    const holidayElement = button.closest(".span12");
    holidayElement.remove();
  }

  function updateDaysAndYears(selectElement) {
    const daysSelect = selectElement.parentElement.parentElement.querySelector(`[name^=day_]`);
    const yearSelect = selectElement.parentElement.parentElement.querySelector(`[name^=year_]`);
    const month = parseInt(selectElement.value, 10);
    const daysInMonth = new Date(parseInt(yearSelect.value), month, 0).getDate(); // Getting the last day of the selected month
    const currentYear = new Date().getFullYear();

    // Clear previous options
    daysSelect.innerHTML = "";
    yearSelect.innerHTML = "";

    // Populate days based on the number of days in the selected month
    for (let day = 1; day <= daysInMonth; day++) {
      const option = document.createElement("option");
      option.value = day;
      option.textContent = day;
      daysSelect.appendChild(option);
    }

    // Populate years for the current year and the next few years
    for (let year = currentYear; year <= currentYear + 5; year++) {
      const option = document.createElement("option");
      option.value = year;
      option.textContent = year;
      yearSelect.appendChild(option);
    }
  }

function updateDays(monthSelect) {
  const daysSelect = monthSelect.parentElement.parentElement.querySelector(`[name^=day_]`);
  const yearSelect = monthSelect.parentElement.parentElement.querySelector(`[name^=year_]`);
  const month = parseInt(monthSelect.value, 10);

  const daysInMonth = new Date(parseInt(yearSelect.value), month, 0).getDate();
  const selectedDay = parseInt(daysSelect.value, 10);

  // Clear previous options
  daysSelect.innerHTML = "";

  // Populate days based on the number of days in the selected month
  for (let day = 1; day <= daysInMonth; day++) {
    const option = document.createElement("option");
    option.value = day;
    option.textContent = day;
    daysSelect.appendChild(option);
  }

  // Set the selected day to the first day of the month if it exceeds the number of days in the new month
  if (selectedDay > daysInMonth) {
    daysSelect.value = 1;
  }
}
</script>


                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="cars-engine-chasis">
<div class="card-header">
    <div class="row">
        <div class="col-md-6">
            <h4>Payment for rent</h4>
        </div>
        <div class="col-md-6 ">
            <h4>Withholding of deposit</h4>

        </div>
    </div>
</div>

            <div class="card-block">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox18" type="checkbox" checked="">
                <label for="checkbox18">
                    CASH
                </label>
            </div>
        </div>
            <div class="form-group ">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox19" type="checkbox">
                <label for="checkbox19">
                    VISA
                </label>
            </div>
        </div>
            <div class="form-group ">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox21" type="checkbox">
                <label for="checkbox21">
                    Master Card
                </label>
            </div>
        </div>
            <div class="form-group ">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox22" type="checkbox">
                <label for="checkbox22">
                    American Express
                </label>
            </div>
        </div>
            <div class="form-group ">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox23" type="checkbox">
                <label for="checkbox23">
                    Mir
                </label>
            </div>
        </div>
            <div class="form-group">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox24" type="checkbox">
                <label for="checkbox24">
                    Union Pay
                </label>
            </div>
        </div>
            <div class="form-group ">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox25" type="checkbox">
                <label for="checkbox25">
                    Stablecoins (USDT, USDC, BUSD)
                </label>
            </div>
        </div>
            <div class="form-group">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox26" type="checkbox">
                <label for="checkbox26">
                    Crypto (any coins)
                </label>
            </div>
        </div>

        </div>
        <div class="col-md-6 ">
            <div class="form-group">
            <div class="checkbox-color checkbox-primary">
                <input id="checkbox30" type="checkbox" checked="">
                <label for="checkbox30">
                    CASH
                </label>
            </div>
        </div>
        </div>
    </div>
            </div>
        </div>


        <div class="cars-music">
            <div class="card-header">
                <h4>Tariffs</h4>
<div id="tariffFields">
    {% for tariff in tariff %}
        <div class="tariff-container" data-tariff-id="{{ tariff.id }}">
            <label for="minDays">Min Days:</label>
            <input type="number" name="minDays[]" value="{{ tariff.min_days }}" required>
            <label for="maxDays">Max Days:</label>
            <input type="number" name="maxDays[]" value="{{ tariff.max_days }}" required>
            <button type="button" onclick="deleteTariffField(this)">Delete</button>
        </div>
    {% endfor %}
</div>
<button type="button" onclick="addTariffField()">Add Tariff</button>

<script>
    function addTariffField() {
        const tariffFields = document.getElementById('tariffFields');
        const lastTariffContainer = tariffFields.lastElementChild;

        // Get the last maximum days value
        const lastMaxDaysInput = lastTariffContainer.querySelector('[name="maxDays[]"]');
        const lastMaxDaysValue = parseInt(lastMaxDaysInput.value, 10);

        // Calculate new values
        const newMinDaysValue = lastMaxDaysValue + 1;
        let newMaxDaysValue = lastMaxDaysValue + 3;

        // Ensure the newMaxDaysValue does not exceed 31
        if (newMaxDaysValue > 31) {
            alert("Cannot add new tariff. Max Days would exceed 31.");
            return;
        }

        // Create a new set of fields
        const newTariffField = document.createElement('div');
        newTariffField.classList.add('tariff-container');
        newTariffField.innerHTML = `
            <label for="minDays">Min Days:</label>
            <input type="number" name="minDays[]" value="${newMinDaysValue}" required>
            <label for="maxDays">Max Days:</label>
            <input type="number" name="maxDays[]" value="${newMaxDaysValue}" required>
            <button type="button" onclick="deleteTariffField(this)">Delete</button>
        `;

        // Append the new set of fields to the container
        tariffFields.appendChild(newTariffField);

        // Get the existing tariffId if available
        const existingTariffContainer = $('#tariffFields .tariff-container:last');
        const tariffId = existingTariffContainer.data('tariff-id');


       // Use AJAX to create/update tariff on the server
        $.ajax({
            url: '{% url "save_tariff" %}',  // Replace with your Django URL for saving tariff
            type: 'POST',
            data: {minDays: newMinDaysValue, maxDays: newMaxDaysValue},
            success: function(response) {
                if (response.status === 'success') {
                    // Successfully created/updated tariff, update UI if needed
                    // For example, you might reload the list of tariffs after saving
                    //window.location.reload();
                } else {
                    alert('Failed to save tariff.');
                }
            },
            error: function() {
                alert('Error in AJAX request.');
            }
        });
    }

    function deleteTariffField(button) {
        const tariffContainer = $(button).closest('.tariff-container');
        const tariffId = tariffContainer.data('tariff-id');

        // Use AJAX to delete tariff on the server
        $.ajax({
            url: `/partner/delete_tariff/${tariffId}/`,  // Replace with your Django URL
            type: 'DELETE',
            success: function(response) {
                if (response.status === 'success') {
                    // Successfully deleted tariff, update UI if needed
                    tariffContainer.remove();
                } else {
                    alert('Failed to delete tariff.');
                }
            },
            error: function() {
                alert('Error in AJAX request.');
            }
        });
    }

    // Use AJAX to list tariffs on page load
    $.ajax({
        url: '/partner/list_tariffs/',  // Replace with your Django URL
        type: 'GET',
        success: function(response) {
            const tariffFields = $('#tariffFields');
            tariffFields.empty();  // Clear existing content

            response.tariffs.forEach(function(tariff) {
                const newTariffField = `
                    <div class="tariff-container" data-tariff-id="${tariff.id}">
                        <label for="minDays">Min Days:</label>
                        <input type="number" name="minDays[]" value="${tariff.min_days}" required>
                        <label for="maxDays">Max Days:</label>
                        <input type="number" name="maxDays[]" value="${tariff.max_days}" required>
                        <button type="button" onclick="deleteTariffField(this)">Delete</button>
                    </div>
                `;
                tariffFields.append(newTariffField);
            });
        },
        error: function() {
            alert('Error in AJAX request.');
        }
    });
</script>
                <div class="sub-title"></div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12">
                       
                    </div>
                </div>
            </div>
        </div>


        <div class="submit-button">
            <button type="submit" class="btn btn-primary"> Save</button>
        </div>
                                </form>
    </div>
    {% endblock %}
</body>
</html>