{% extends 'base.htm' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>


<body>
    {% block content %}
    <div class="card">
        <div class="agent-new mt-2">
            <div class="card-block-table">
                    <style>
        /* Custom CSS for black table header */
        .table-black th {
            background-color: #01a9ac;
            color: #fff;
            border-left: 1px solid #fff;
        }
    </style>
        <table class="table table-striped">
            <thead class="table-black">
                <tr>
                    <th>Agents</th>
                    <th colspan="4"><button type="submit" class="float-right btn btn-success">Add an agent</button></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/agents/672/edit/"></a>03471564710</td>
                    <td><a href="mailto:alimoeed15@gmail.com">alimoeed15@gmail.com</a></td>
                    <td>Moeed Rafique </td>
                    <td><a href="/rentacar_payments/?agent_id=672">Statistics</a></td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>