{% load static %}
<footer class="SpinnyDesktopFooter__footerSection styles__forGASectionSeen" data-category="section_seen"
                        data-label="footer" data-action="seen"
                        style="background-image:url(https://spn-sta.spinny.com/spinny-web/static-images/assets/images/components/Footer/assets/city-line-desktop.svg)">
                    <div class="SpinnyDesktopFooter__footerWrapper SpinnyDesktopFooter__viewportWrapper">
                        <div class="SpinnyDesktopFooter__descriptionSection"><a href="/"
                                                                                class="SpinnyDesktopFooter__logoSection"
                                                                                aria-label="Spinny Home">
                                                            <img style="width: 35%;transform: rotate(357deg);"
                                     src="{% static 'website/img/logo-car-2.png' %}">
                        </a>
                            <p><span>
LocalRoyalRent.com functions as a consolidator for local car rental companies, bringing together offerings from small rental businesses operating exclusively within their respective cities. Our rigorous selection process ensures that only top-notch providers are showcased, and we consistently monitor their performance to maintain high-quality standards. Our mission is to provide customers with exceptional service at the most competitive rates.</span>
                            </p>
                            <div class="SpinnyDesktopFooter__socialIcons"><a
                                    href="https://www.facebook.com/mySpinny.Cars" target="_blank" rel="noreferrer"
                                    aria-label="facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                     viewBox="0 0 21.85 21.85">
                                    <path d="M837.992,276.108h-15.45a3.2,3.2,0,0,0-3.2,3.2v15.45a3.2,3.2,0,0,0,3.2,3.2h6.445v-7.724h-2.561v-3.841h2.561v-2.6a3.845,3.845,0,0,1,3.841-3.841h3.884v3.838h-3.884v2.6h3.884l-.64,3.841h-3.244v7.725h5.164a3.2,3.2,0,0,0,3.2-3.2h0V279.308a3.2,3.2,0,0,0-3.2-3.2Z"
                                          transform="translate(-819.342 -276.108)" fill="#fff"></path>
                                </svg>
                            </a><a href="https://twitter.com/myspinny" target="_blank" rel="noreferrer"
                                   aria-label="twitter">
                                <svg id="Share_Twitter" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                     viewBox="0 0 24 24" fill="none">
                                    <path d="M18.244 2.25H21.552L14.325 10.51L22.827 21.75H16.17L10.956 14.933L4.99003 21.75H1.68003L9.41003 12.915L1.25403 2.25H8.08003L12.793 8.481L18.244 2.25ZM17.083 19.77H18.916L7.08403 4.126H5.11703L17.083 19.77Z"
                                          fill="#fff"></path>
                                </svg>
                            </a><a href="https://www.linkedin.com/company/spinny/" target="_blank" rel="noreferrer"
                                   aria-label="linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 33 33">
                                    <path fill="#fff"
                                          d="M28.8 0H3.2A3.21 3.21 0 000 3.2v25.6C0 30.56 1.44 32 3.2 32h25.6c1.76 0 3.2-1.44 3.2-3.2V3.2C32 1.44 30.56 0 28.8 0zM9.6 27.2H4.8V12.8h4.8v14.4zM7.2 10.08c-1.6 0-2.88-1.28-2.88-2.88S5.6 4.32 7.2 4.32s2.88 1.28 2.88 2.88-1.28 2.88-2.88 2.88zm20 17.12h-4.8v-8.48c0-1.28-1.12-2.4-2.4-2.4s-2.4 1.12-2.4 2.4v8.48h-4.8V12.8h4.8v1.92c.8-1.28 2.56-2.24 4-2.24 3.04 0 5.6 2.56 5.6 5.6v9.12z"></path>
                                </svg>
                            </a><a href="https://www.instagram.com/myspinny/" target="_blank" rel="noreferrer"
                                   aria-label="instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 33 33">
                                    <path fill="#fff"
                                          d="M23.338 0H8.662C3.886 0 0 3.886 0 8.662v14.676C0 28.114 3.886 32 8.662 32h14.676C28.114 32 32 28.114 32 23.338V8.662C32 3.886 28.114 0 23.338 0zM16 24.75c-4.825 0-8.75-3.925-8.75-8.75S11.175 7.25 16 7.25s8.75 3.925 8.75 8.75-3.925 8.75-8.75 8.75zm8.959-15.436c-1.426 0-2.585-1.16-2.585-2.585s1.16-2.586 2.585-2.586 2.586 1.16 2.586 2.586-1.16 2.585-2.586 2.585z"></path>
                                    <path fill="#fff"
                                          d="M16 9.126c-3.79 0-6.874 3.084-6.874 6.874S12.21 22.874 16 22.874c3.79 0 6.874-3.084 6.874-6.874S19.79 9.126 16 9.126zM24.959 6.019a.71.71 0 10.001 1.42.71.71 0 00-.001-1.42z"></path>
                                </svg>
                            </a></div>
                            <p><span>© 2024 All rights reserved.</span></p>
                        </div>
                        <div class="SpinnyDesktopFooter__wrapper"><h4 class="SpinnyDesktopFooter__linkSectionHeading">
                            About</h4>
                            <div class="SpinnyDesktopFooter__linksSectionWrap">
                                <div class="SpinnyDesktopFooter__linksSection">
                                    <a href="/about-us/" target="">Who we are</a>
                                    <a href="/how-it-works/" target="">How It Works</a>
                                    <a href="/customer-reviews/" target="">Customer Reviews</a>
                                    <a href="/partners/" target="">Spinny Partners</a>
                                    <a href="/careers/" target="">Work With Us</a>
                                    <a href="/contact-us/" target="">Contact Us</a>
                                    <a href="/privacy-policy/" target="">Privacy Policy</a>
                                    <a href="/terms-and-conditions/" target="">Terms &amp; Conditions</a>
                                    <a href="/sitemap/" target="">Sitemap</a>
                                </div>
                            </div>
                        </div>
                        <div class="SpinnyDesktopFooter__wrapper"><h4 class="SpinnyDesktopFooter__linkSectionHeading">
                            Rent Car in</h4>
<!--                            <div class="SpinnyDesktopFooter__buySection">-->
<!--                                <a href="/used-cars-in-delhi-ncr/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Delhi NCR</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-bangalore/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Bangalore</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-hyderabad/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Hyderabad</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-mumbai/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Mumbai</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-pune/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Pune</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-delhi/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Delhi</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-gurgaon/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Gurgaon</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-noida/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Noida</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-ahmedabad/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Ahmedabad</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-chennai/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Chennai</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-kolkata/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Kolkata</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-lucknow/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Lucknow</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-jaipur/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Jaipur</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-chandigarh/s/"><span class="SpinnyDesktopFooter__title">Chandigarh</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-coimbatore/s/"><span class="SpinnyDesktopFooter__title">Coimbatore</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-ghaziabad/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Ghaziabad</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-indore/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Indore</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-kochi/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Kochi</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a><a-->
<!--                                    href="/used-cars-in-surat/s/"><span-->
<!--                                    class="SpinnyDesktopFooter__title">Surat</span><span-->
<!--                                    class="SpinnyDesktopFooter__linkSectionHeading"> | </span></a></div>-->
                            <h3 class="SpinnyDesktopFooter__linkSectionHeading SpinnyDesktopFooter__sellHeading"><a
                                    href=""
                                    class="SpinnyDesktopFooter__linkSectionHeading SpinnyDesktopFooter__sellHeading">List
                                your Car
                                <svg xmlns="http://www.w3.org/2000/svg" stroke="#FFF" width="9px" height="9px"
                                     viewBox="0 0 14 8" class="">
                                    <path fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="3" d="M386 48L392 54 398 48"
                                          transform="translate(-385 -47)"></path>
                                </svg>
                            </a></h3>
                        </div>
                        <div class="SpinnyDesktopFooter__buttonSection">
                            <div class="SpinnyDesktopFooter__callSection SpinnyDesktopFooter__callSectionMain">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                     viewBox="0 0 20.172 20.172">
                                    <path d="M8.594 11.578a12.945 12.945 0 003.265 2.382l1.903-1.903a.875.875 0 01.896-.209 9.993 9.993 0 002.77.497.853.853 0 01.601.258.865.865 0 01.258.614v3.045a.83.83 0 01-.251.607.865.865 0 01-.614.258A14.773 14.773 0 013.045 2.75a.88.88 0 01.872-.872H6.96a.865.865 0 01.614.258.891.891 0 01.258.602 9.784 9.784 0 00.503 2.775.865.865 0 01-.208.895L6.224 8.312a12.6 12.6 0 002.37 3.266z"
                                          stroke="#fff" fill="#fff"></path>
                                </svg>
                                <span>+995 574 11 60 66</span></div>
                            <a href="/sell-used-car/" class="SpinnyDesktopFooter__callSection">Get Instant Quotes</a><a
                                href="/used-cars/s/" class="SpinnyDesktopFooter__callSection">Browse Cars</a></div>
                    </div>
                </footer>