{% load static %}
<nav>
  <div class="wrapper">
    <div class="logo"><a href="#"><img style="transform: rotate(359deg);" height="50px" src="{% static 'website/img/logo-car-2.png' %}"></a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#">Rent Car</a></li>
      <li><a href="#">More</a></li>
      <li class="call_div"><span class="styles__callHeading">Call us at</span><span
                        class="styles__careNumber">+995 574 11 60 66</span></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>
<style>
nav {
  position: relative;
  width: 100%;

  background: #fff;
}
nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
    color: #2e054e;
    display: flex;
    font-family: futura-medium;
    font-size: 19px;
    margin: 0 12px;
    position: relative;
    text-decoration: none;
    align-items: center;
    user-select: none;
    white-space: nowrap;
}
.call_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 12px;
    text-decoration: none;
}
.styles__callHeading {
    font-family: futura-book;
    font-size: 12px;
    line-height: 12px;
}
.styles__careNumber {
    font-family: futura-medium;
    font-size: 18px;
    line-height: 24px;
    white-space: nowrap;
}
.nav-links .mobile-item {
  display: none;
}

.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.wrapper .btn {
  color: #3733b8;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
nav {
  z-index: 99;
}
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #fff;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div {
  font-size: 45px;
  font-weight: 600;
}

</style>


<style>
    /* Styles for the modal and overlay */
    #cityModal {
      display: none;

    }


</style>
<input type="hidden" id="city" value=""/>
<div id="cityModal" class="ModalOverlay__modalOverlay">
    <div role="none" class="ModalOverlay__modalOuterContainer ModalOverlay__show"></div>
    <div class="ModalOverlay__modalOverlayContainer ModalOverlay__show styles__Modal"
         style="transform-origin: center top;">

        <div class="styles__desktopHeaderCitySelector">
            <div class="styles__desktopHeaderCitySelectorTopSection"><span class="styles__heading">Select a city </span>
                <div class="styles__citySearchSection"><input type="text" class="styles__searchInput "
                                                              placeholder="Search for a city"
                                                              maxlength="20">
                    <div class="styles__iconSection " role="none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px"
                             viewBox="0 0 20 20" stroke="#888">
                            <g fill="none" stroke-width="2.2">
                                <g data-name="Ellipse 37" transform="rotate(-45 12.559 5.202)">
                                    <circle cx="7.357" cy="7.357" stroke="none" r="7.357"></circle>
                                    <circle cx="7.357" cy="7.357" r="6.257"></circle>
                                </g>
                                <path data-name="Path 5058" d="M14.922 15.494l2.952 2.953"
                                      stroke-linecap="round"></path>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="styles__closeSection" onclick="closeModal()" role="none">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="13px" height="13px"
                         viewBox="0 0 18 18">
                        <g fill="none" fill-rule="evenodd" stroke="#2e054e" stroke-linecap="round"
                           stroke-linejoin="round" stroke-width="2.5">
                            <path d="M16 0L0 16M0 0L16 16" transform="translate(1 1)"></path>
                        </g>
                    </svg>
                </div>
            </div>
            <h3 class="styles__subHeadings">POPULAR CITIES</h3>
            <div class="styles__desktopHeaderCitySelectorOtherCitiesSection">
                {% for city in city %}
                <div class="styles__otherCityDivWrapper" data-city-id="{{ city.id }}">
                    <div class="styles__otherCityDiv  styles__forGTM" data-category="city-selector-menu-header"
                         data-label="{{city.name}}">
                        <div role="none" class="Ripple__container"></div>
                        <span style="color: rgb(46, 5, 78);">{{city.name}}</span></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
  // Function to open the modal
  function openModal() {
    document.getElementById('cityModal').style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Get all city divs
        var cityDivs = document.querySelectorAll('.styles__otherCityDivWrapper');

        // Add click event listener to each city div
        cityDivs.forEach(function (cityDiv) {
            cityDiv.addEventListener('click', function () {
                // Get the city name from the clicked city div
                var cityName = cityDiv.querySelector('.styles__otherCityDiv span').textContent;
                // Get the city ID from the data attribute
                var cityId = cityDiv.getAttribute('data-city-id');
                // Update the selected city text

                $('#pickup_city span').text(cityName);
                $('#drop_off span').text("Same place");
               document.getElementById('city').value = cityId;
                // Close the modal (assuming you have a function named closeModal)
                closeModal();
            });
        });
    });

</script>

<script>


  // Function to close the modal
  function closeModal() {
    document.getElementById('cityModal').style.display = 'none';
  }


</script>
